@{
	ViewData["Title"] = "Gelir Gider";
	Layout = null;
}
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewBag.SiteTitle - Gelir Gider</title>
	<link rel="shortcut icon" href="~/img/logo.png" />

	<!-- Bootstrap css -->
	<link rel="stylesheet" href="~/panel/css/bootstrap.min.css">

	<!-- Icomoon Font Icons css -->
	<link rel="stylesheet" href="~/panel/fonts/style.css">

	<!-- Main css -->
	<link rel="stylesheet" href="~/panel/css/main.css">
	<link rel="stylesheet" href="~/panel/vendor/datatables/dataTables.bs4.css" />
	<link rel="stylesheet" href="~/panel/vendor/datatables/dataTables.bs4-custom.css" />
	<link href="~/panel/vendor/datatables/buttons.bs.css" rel="stylesheet" />
	<link rel="stylesheet" href="~/panel/vendor/bs-select/bs-select.css" />

	<!-- *************
		************ Vendor Css Files *************
	************ -->
	<!-- DateRange css -->
	<link rel="stylesheet" href="~/panel/vendor/daterange/daterange.css" />

	<!-- Bootstrap Select CSS -->
	<link rel="stylesheet" href="~/panel/vendor/bs-select/bs-select.css" />
	<!-- Rangeslider CSS -->
	<link rel="stylesheet" href="~/panel/vendor/range-slider/ion.rangeSlider.css" />
</head>
<body>

	<!-- Loading starts -->
	<div id="loading-wrapper">
		<div class="spinner-border" role="status">
			<span class="sr-only">Yükleniyor...</span>
		</div>
	</div>
	<!-- Loading ends -->
	<!-- *************
		************ Header section start *************
	************* -->
	<!-- Header start -->
	<header class="header">
		<div class="logo-wrapper">
			<a href="@Url.Action("Index", "Home")" class="logo">
				<img src="~/img/logo.png" alt="Randevu" />
			</a>
		</div>
		<div class="header-items">
			<!-- Custom search start -->
			<!-- Custom search end -->
			<!-- Header actions start -->
			<ul class="header-actions">
				<li class="dropdown">
					<a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
						<span class="user-name">@ViewBag.UserName</span>
						<span class="avatar">@ViewBag.UserInitials<span class="status busy"></span></span>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="userSettings">
						<div class="header-profile-actions">
							<div class="header-user-profile">
								<div class="header-user">
									<img src="/img/staff/@(ViewBag.UserID).png" alt="Admin Template" />
								</div>
								<h5>@ViewBag.UserName</h5>
								<p>@ViewBag.UserPosition</p>
							</div>
							<a href="@Url.Action("UserSettings", "AdmPanel")"><i class="icon-settings1"></i>Ayarlar</a>
							<a href="@Url.Action("Logout", "AdmPanel")"><i class="icon-log-out1"></i>Çıkış</a>
						</div>
					</div>
				</li>
			</ul>
			<!-- Header actions end -->
		</div>
	</header>
	<!-- Header end -->
	<!-- Screen overlay start -->
	<div class="screen-overlay"></div>
	<!-- Screen overlay end -->
	<!-- Container fluid start -->
	<div class="container-fluid">

		<!-- Navigation start -->
		<nav class="navbar navbar-expand-lg custom-navbar">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#WafiAdminNavbar" aria-controls="WafiAdminNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon">
					<i></i>
					<i></i>
					<i></i>
				</span>
			</button>
			<div class="collapse navbar-collapse" id="WafiAdminNavbar">
				<ul class="navbar-nav">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle active-page" href="#" id="dashboardsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="icon-devices_other nav-icon"></i>
							Anasayfa
						</a>
						<ul class="dropdown-menu" aria-labelledby="dashboardsDropdown">
							<li>
								<a class="dropdown-item" href="@Url.Action("Index", "AdmPanel")">Anasayfa</a>
							</li>
							@if (ViewBag.UserRole == "Head Admin" || ViewBag.UserRole == "Admin")
							{
								<li>
									<a class="dropdown-item active-page" href="@Url.Action("GelirGider", "AdmPanel")">Gelir Gider</a>
								</li>
								<li>
									<a class="dropdown-item" href="@Url.Action("Services", "AdmPanel")">Hizmetler</a>
								</li>
							}
						</ul>
					</li>
					@if (ViewBag.UserRole == "Head Admin" || ViewBag.UserRole == "Admin")
					{
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="icon-book-open nav-icon"></i>
								Üyelik
							</a>

							<ul class="dropdown-menu" aria-labelledby="pagesDropdown">
								<li>
									<a class="dropdown-item" href="@Url.Action("Users", "AdmPanel")">Üyeler</a>
								</li>
								<li>
									<a class="dropdown-item" href="@Url.Action("DeactiveUsers", "AdmPanel")">Pasif Üyeler</a>
								</li>
								<li>
									<a class="dropdown-item" href="@Url.Action("Staff", "AdmPanel")">Personel</a>
								</li>
								@if (ViewBag.UserRole == "Head Admin")
								{
									<li>
										<a class="dropdown-item" href="@Url.Action("OffStaff", "AdmPanel")">Pasif Personeller</a>
									</li>
								}
							</ul>

						</li>
					}
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="formsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="icon-edit1 nav-icon"></i>
							Randevu
						</a>
						<ul class="dropdown-menu" aria-labelledby="formsDropdown">
							<li>
								<a class="dropdown-item" href="@Url.Action("WorkDays", "AdmPanel", new { id = ViewBag.UserID })">Çalışma Saatlerim</a>
							</li>
							<li>
								<a class="dropdown-item" href="@Url.Action("SpecialDays", "AdmPanel", new { id = ViewBag.UserID })">Özel Tatiller</a>
							</li>
							<li>
								<a class="dropdown-item" href="@Url.Action("MyAppointments", "AdmPanel")">Bekleyen Randevularım</a>
							</li>
							<li>
								<a class="dropdown-item" href="@Url.Action("Appointments", "AdmPanel")">Randevular</a>
							</li>
						</ul>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link" href="@Url.Action("Blog", "AdmPanel")" role="button" aria-haspopup="true" aria-expanded="false">
							<i class="icon-image nav-icon"></i>
							Blog
						</a>
					</li>
					@if (ViewBag.UserRole == "Head Admin" || ViewBag.UserRole == "Admin")
					{
						<li class="nav-item dropdown">
							<a class="nav-link" href="@Url.Action("AdmSettings", "AdmPanel")" role="button" aria-haspopup="true" aria-expanded="false">
								<i class="icon-border_all nav-icon"></i>
								Site Düzenlemesi
							</a>
						</li>
					}

				</ul>
			</div>
		</nav>
		<!-- Navigation end -->
		<!-- *************
			************ Main container start *************
		************* -->
		<div class="main-container">


			<!-- Page header start -->
			<div class="page-header">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">Anasayfa</li>
					<li class="breadcrumb-item active">Gelir Gider</li>
				</ol>
			</div>
			<!-- Page header end -->
			<!-- Content wrapper start -->
			<div class="content-wrapper">
				@ViewBag.Hata
				<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#customModalOne">Yeni Gelir Gider</button></td>
				<br>
				<!-- Row start -->
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">

					<div class="table-container">
						<div class="t-header">Gelir Gider</div>
						<div class="table-responsive">
							<table id="copy-print-csv" class="table custom-table">
								<thead>
									<tr>
										<th>Tarih</th>
										<th>Gelir</th>
										<th>Gider</th>
										<th>Düzenle</th>

									</tr>
								</thead>
								<tbody>
									@model IEnumerable<Randevu.Models.GelirGider>
									@foreach (var item in Model)
									{
										<tr>
											<td>@item.Tarih.ToString("MMMM yyyy")</td>
											<td>@item.Gelir</td>
											<td>@item.Gider</td>
											<td>
												<a href="@Url.Action("GelirGiderEdit", "AdmPanel", new { id = item.ID })" class="btn btn-primary">Düzenle</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
					</div>
					<!-- Row end -->

				</div>
				<!-- Content wrapper end -->
				<div class="modal fade" id="customModalOne" tabindex="-1" role="dialog" aria-labelledby="customModalTwoLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="customModalTwoLabel">Yeni Gelir Gider</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>											

							<form id="gelirGiderForm" action="/AdmPanel/GelirGider" method="post">
								<div class="modal-body">
									<div class="form-group">
										<label for="month-select" class="col-form-label">Ay:</label>
										<select id="month-select" name="Month" class="form-control selectpicker" required>
											<option value="">Seçiniz</option>
											<option value="1">Ocak</option>
											<option value="2">Şubat</option>
											<option value="3">Mart</option>
											<option value="4">Nisan</option>
											<option value="5">Mayıs</option>
											<option value="6">Haziran</option>
											<option value="7">Temmuz</option>
											<option value="8">Ağustos</option>
											<option value="9">Eylül</option>
											<option value="10">Ekim</option>
											<option value="11">Kasım</option>
											<option value="12">Aralık</option>
										</select>
									</div>
									<div class="form-group">
										<label for="year-select" class="col-form-label">Yıl:</label>
										<select id="year-select" name="Year" class="form-control selectpicker" required>
											<!-- Dinamik olarak JavaScript ile doldurulacak -->
										</select>
									</div>
									<div class="form-group">
										<label for="gelir" class="col-form-label">Gelir:</label>
										<input type="number" class="form-control" id="gelir-input" name="Gelir" pattern="\d+" required>
									</div>
									<div class="form-group">
										<label for="gider" class="col-form-label">Gider:</label>
										<input type="number" class="form-control" id="gider-input" name="Gider" pattern="\d+" required>
									</div>
								</div>
								<div class="modal-footer custom">
									<button type="submit" class="btn btn-link success">Kaydet</button>
								</div>
							</form>

						</div>
					</div>
				</div>

			</div>
			<!-- *************
				************ Main container end *************
			************* -->
			<!-- Footer start -->
			<footer class="main-footer">© VeRandevum 2024</footer>
			<!-- Footer end -->

		</div>
		<!-- Container fluid end -->
		<!-- *************
			************ Required JavaScript Files *************
		************* -->
		<!-- Required jQuery first, then Bootstrap Bundle JS -->
		<script src="~/panel/js/jquery.min.js"></script>
		<script src="~/panel/js/bootstrap.bundle.min.js"></script>
		<script src="~/panel/js/moment.js"></script>


		<!-- *************
			************ Vendor Js Files *************
		************* -->
		<!-- Slimscroll JS -->
		<script src="~/panel/vendor/slimscroll/slimscroll.min.js"></script>
		<script src="~/panel/vendor/slimscroll/custom-scrollbar.js"></script>

		<!-- Daterange -->
		<script src="~/panel/vendor/daterange/daterange.js"></script>
		<script src="~/panel/vendor/daterange/custom-daterange.js"></script>

		<!-- Bootstrap Select JS -->
		<script src="~/panel/vendor/bs-select/bs-select.min.js"></script>
		<!-- Data Tables -->
		<script src="~/panel/vendor/datatables/dataTables.min.js"></script>
		<script src="~/panel/vendor/datatables/dataTables.bootstrap.min.js"></script>
		<!-- Custom Data tables -->
		<script src="~/panel/vendor/datatables/custom/custom-datatables.js"></script>
		<script src="~/panel/vendor/datatables/custom/fixedHeader.js"></script>
		<!-- Main Js Required -->
		<script src="~/panel/js/main.js"></script>
		<script src="~/panel/vendor/datatables/buttons.min.js"></script>
		<script src="~/panel/vendor/datatables/jszip.min.js"></script>
		<script src="~/panel/vendor/datatables/pdfmake.min.js"></script>
		<script src="~/panel/vendor/datatables/vfs_fonts.js"></script>
		<script src="~/panel/vendor/datatables/html5.min.js"></script>
		<script src="~/panel/vendor/datatables/buttons.print.min.js"></script>
		<!-- Bootstrap Select JS -->
		<script src="~/panel/vendor/bs-select/bs-select.min.js"></script>
		<script>
				document.addEventListener("DOMContentLoaded", function () {
					const yearSelect = document.getElementById('year-select');
					const currentYear = new Date().getFullYear();
					for (let year = 2020; year <= currentYear; year++) {
						let option = new Option(year, year);
						yearSelect.appendChild(option);
					}
					$('.selectpicker').selectpicker('refresh'); // Eğer selectpicker kullanıyorsanız, UI'ı güncelleyin
				});
		</script>


		<style>
			.was-validated .form-control:invalid {
				border-color: #dc3545;
				padding-right: calc(1.5em + .75rem);
				background-repeat: no-repeat;
				background-position: right calc(.375em + .1875rem) center;
				background-size: calc(.75em + .375rem) calc(.75em + .375rem);
			}

			.was-validated .form-control:valid {
				border-color: #28a745;
			}
		</style>
</body>
</html>