@{
    ViewData["Title"] = "Anasayfa";
    Layout = null;
}

<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <!-- Site Title-->
    <title>@ViewBag.SiteTitle - Blog Detay</title>
    <link rel="shortcut icon" href="~/img/logo.png" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono:300,300italic,400,700%7CArvo:400,700">
    <link rel="stylesheet" href="~/index/css/style.css">
</head>
<body>
    <div class="page">
        <header class="page-header">
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-sm-device-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fullwidth" data-stick-up-clone="true" data-md-stick-up-offset="140px" data-lg-stick-up-offset="140px">
                    <div class="rd-navbar-inner">
                        <div class="rd-navbar-panel">
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <div class="rd-navbar-brand">
                                <a class="brand-name" href="@Url.Action("Index", "Home")">
                                    <div class="brand-mobile">
                                        <img src="~/panel/img/logo.png" alt="" width="200" height="36" />
                                    </div>
                                    <div class="brand-desktop">
                                        <img src="~/panel/img/logo.png" alt="" width="125" height="125" />
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-inner">
                                <ul class="rd-navbar-nav">
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Home")">Anasayfa</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About", "Home")">Hakkımızda ▼</a>
                                        <ul class="rd-navbar-dropdown">
                                            <li>
                                                <a href="@Url.Action("Team", "Home")">Çalışanlarımız</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Privacy", "Home")">Yasal</a>
                                            </li>
                                            <li>
                                                <a href="@Url.Action("Services", "Home")">Hizmetlerimiz</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Randevu", "Home")">Randevu Al</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Blog", "Home")">Blog</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Contact", "Home")">İletişim</a>
                                    </li>
                                    @if (ViewBag.UserName != null)
                                    {
                                        <li><a href="@Url.Action("Logout", "AdmPanel")">Çıkış Yap</a></li>
                                        <li><a href="@Url.Action("Index", "AdmPanel")">@ViewBag.UserName</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Login", "AdmPanel")">Giriş Yap</a></li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main class="page-content" id="perspective">
                <div id="wrapper">
                    @model Randevu.Models.BlogPost
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <section class="section-md bg-periglacial-blue">
                        <div class="shell">
                            <article class="post-single">
                                <div class="post-single-header" style="background-image: url('@Url.Content("~/index/images/blog/" + Model.BlogPostID + ".png")');">
                                    <div class="post-single-header-content">
                                        <p class="post-single-title">@Model.Title</p>
                                        <ul class="post-single-meta">
                                            <li>
                                                <span class="icon icon-xxs fa fa-calendar-plus-o"></span>
                                                <time datetime="2017-06-26">@Model.PublishDate.ToString("dd MMMM yyyy")</time>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            <div class="post-single-body">
                                @foreach (var chunk in SplitContentIntoChunks(Model.Content, 150))
                                {
                                    <p>@chunk</p>
                                }
                            </div>

                            </article>
                        </div>
                    </section>
                @functions {
                    public List<string> SplitContentIntoChunks(string content, int chunkSize)
                    {
                        var chunks = new List<string>();
                        if (string.IsNullOrEmpty(content))
                        {
                            return chunks;
                        }

                        for (int i = 0; i < content.Length; i += chunkSize)
                        {
                            if (i + chunkSize > content.Length) chunkSize = content.Length - i;
                            chunks.Add(content.Substring(i, chunkSize));
                        }
                        return chunks;
                    }
                }

                    <footer class="page-footer page-footer-variant-3">
                        <div class="shell">
                            <div class="range range-50">
                                <div class="cell-sm-6 cell-md-4">
                                    <h3>Sayfalar</h3>
                                    <div class="divider divider-conch"></div>
                                <ul class="footer-navigation row footer-navigation-vertical" style="max-width: 390px;">
                                    <li class="col-xs-6"><a href="@Url.Action("Index", "Home")">Anasayfa</a></li>
                                    <li class="col-xs-6"><a href="@Url.Action("Blog", "Home")">Blog</a></li>
                                    <li class="col-xs-6"><a href="@Url.Action("About", "Home")">Hakkımızda</a></li>
                                    <li class="col-xs-6"><a href="@Url.Action("Contact", "Home")">İletişim</a></li>
                                </ul>
                                </div>
                                <div class="cell-sm-6 cell-md-3">
                                    <h3>Bizi Takip Edin</h3>
                                    <div class="divider divider-conch"></div>
                                <ul class="inline-list inline-list-xs">

                                    @if (!string.IsNullOrEmpty(ViewBag.ContactInfo.Facebook))
                                    {
                                        <li>
                                            <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-facebook" href="@ViewBag.ContactInfo.Facebook"></a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(ViewBag.ContactInfo.Twitter))
                                    {
                                        <li>
                                            <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-twitter" href="@ViewBag.ContactInfo.Twitter"></a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(ViewBag.ContactInfo.Youtube))
                                    {
                                        <li>
                                            <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-youtube" href="@ViewBag.ContactInfo.Youtube"></a>
                                        </li>
                                    }
                                    @if (!string.IsNullOrEmpty(ViewBag.ContactInfo.Instagram))
                                    {
                                        <li>
                                            <a class="icon icon-xs-outline icon-wild-sand-filled icon-circle fa-instagram" href="@ViewBag.ContactInfo.Instagram"></a>
                                        </li>
                                    }

                                </ul>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <div id="perspective-content-overlay"></div>
        </main>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <script src="~/index/js/core.min.js"></script>
    <script src="~/index/js/script.js"></script>
</body>
</html>